.form-container {
    position: fixed;
    z-index: 200;
    width: 600px;
    top: 45px;
    margin:0 auto auto 200px;
    background-color: white;
    padding: 10px 25px 0 25px;
}

.ant-btn {
    margin-right: 100px;
}

.form-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5px;
    font-family: myFont, serif;
}